.div-mensagem {
  display: flex;
  align-items: center;
  gap: 3%;
  margin: 1.5%;
  background-color: #000000;
  color: #F6F6F6;
  border-radius: 10px;
  padding: 0% 2%;
  max-width: 45%;
  width: fit-content;

  @media (max-width: 768px) {
    font-size: 8px;
  }
}

div p {
  word-break: break-all;
}

.div-mensagem-eu {
  display: flex;
  justify-content: flex-end;
}